//============================
//    Name: Main page
//============================

$$red = #f44336;
$$green = #15ae5e;
$$aqua = #d5ffff;
$$grey = #fdfdfd;
$$yellow = #feac39cc;

$$textTitle = #162529;
$$textText = #939ca0;

 
paint {
	+__() {
		.section--background {
			background-color #d1dadf;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			gap: 1rem;
			max-width 65rem;
			margin 1rem auto .3rem
			transition .25s __cubic
		}
		.group {
			display: grid;
			grid: auto \/ 184px 330px 330px 1fr;
			grid-auto-flow: column;
			justify-content: space-between;
			gap: 0.5rem;
			margin 0 1rem;
		}
		.item {
			display: grid;
			grid-auto-flow: column
			color: $$textText;
			align-items center
		}
		.item {
			height 1rem
			fill: $$textText;
			transition .25s __cubic
			&:hover {
				fill: $$textTitle;
			}
		}
	}
}

mytitle {
	+__() {
		.section--background {
			background-color #d1dadf;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			gap: 1rem;
			max-width 65rem;
			margin 3rem auto 3rem
			transition .25s __cubic
		}
		.group {
			display: grid;
			grid: auto \/ 210px 330px 330px 1fr;
			grid-auto-flow: column;
			justify-content: space-between;
			gap: 0.5rem;
		}
		.item {
			display: block;
			box-shadow: __shadow;
			border 1px solid rgba(#ddd, .75)
			radius: 7px;
			background-color #fff;
			padding .5rem .65rem
			color: $$textText;
			font-size 12px
			&-title {
				border-bottom 1px solid $$textText
				padding-bottom 7px
				margin-bottom: 7px;
				color: $$textTitle;
				font-weight bold
				height 2rem
			}
		}
		.ul {
			padding 0
			margin 0
			list-style: none;
			li {
				margin-bottom: 7px;
			}
			&-icon {
				display: inline-grid;
				width: 0.7rem;
				height: 0.7rem;
				margin-right: .3rem;
				fill: $$textText;
			}
		}
	}
}

mytable {
	+__() {
		.section--background {
			background-color #d1dadf;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			gap: 1rem;
			max-width 65rem;
			margin .3rem auto 1rem
			padding .7rem
			box-shadow: __shadow;
			border 1px solid rgba(#ddd, .75)
			radius: 7px;
			transition .25s __cubic
		}
		.box--background {
			background-color #eceff1;
		}
		.item:not(:last-child) {
			padding-bottom 1rem
			border-bottom 2px solid rgba(#ddd, .75)
			transition .25s __cubic
		}
		.item {
			display: grid;
			grid-auto-flow: row
		}
		.group {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			gap: 0.5rem;
		}
		.title {
			white-space: nowrap;
			width: auto;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0.5rem 0 0.7rem;
			color: $$textTitle;
			font-weight bold
			text-transform uppercase
			letter-spacing 1px;
			font-size 12px
			&-count {
				margin-right .3rem
			}
		}
		.points {
			display: inline-grid;
			grid-auto-flow: column;
			grid-auto-columns: 3.8rem;
			gap: 3px;
			align-items: center;
			justify-content: center;
			text-align: center; 
			transition .25s __cubic
			&-item {
				display: grid;
				border: 1px solid #cbcbcb7d;
				justify-content: stretch;
				align-items: center;
				position relative
				background-color $$grey;
				radius: 4px;
				overflow hidden
			}
			&-count {
				display: grid;
				align-items center
				height 2rem
				font-size 20px
				color: $$textText;
				transition .25s __cubic
				&:hover {
					background-color: $$yellow;
					color: $$textTitle;
				}
				&:before {
					content: '';
					display: grid;
					width: 100%;
					height: 3px;
					font-size: 1rem;
					line-height: 1;
					text-align: center;
					background-color #ccc;
					position: absolute;
					bottom 0
				}
			}
			&-bar {
				x = 3px
				height x
				border-bottom: x solid violet;
				transform: scaleX(0);
				transition .25s __cubic
			}
		}
		.asis, .tobe {
			display: grid;
			grid-auto-flow: row
			grid: auto 0 \/ auto;
			overflow: hidden;
			border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
			background-color: $$grey;
			border: 1px solid #cbcbcb7d;
			&-group {
				display: grid;
				grid-auto-flow: column;
				gap: 3px;
				position: relative;
				text-align: center;
				&:before {
					content: '';
					display: grid;
					width: 100%;
					height: 3px;
					font-size: 1rem;
					line-height: 1;
					text-align: center;
					background-color #ccc;
					position: absolute;
					bottom 0
				}
			}
			&-item {
				display: grid;
				width 38px
				overflow hidden
				justify-content: center;
				align-items: center;
				padding 0 3px
				min-width: 44px;
				color: $$textText;
				font-size 12px
				transition .25s __cubic
				&:hover {
					background-color: $$yellow;
					color: $$textTitle;
				}
			}
			&-item:first-child {
				// background-color $$aqua
				color: $$textTitle;
				font-size 12px
				font-weight bold
			}
		}
		.asis-bar {
			margin-top -3px
			transform-origin left
			border-color $$yellow;
		}
		.tobe-bar {
			margin-top -3px
			transform-origin left
			margin-left 50%
			border-color $$yellow;
		}
		
		.status {
			display: grid;
			justify-content: center;
			align-items: center;
			background-color: $$grey;
			border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
			border: 1px solid #cbcbcb7d;
			padding 0 .5rem
			min-width: 50px;
			width 140px
			background-color #fff;
			color: $$textTitle;
			font-weight bold
			transition .25s __cubic
			&:hover {
				background-color: $$yellow;
				color: $$textTitle;
			}
		}
	}
}

.mytable__points-item:nth-child(1) .mytable__points-bar {
	transform-origin right
	border-color $$red;
}
.mytable__points-item:nth-child(2) .mytable__points-bar  {
	transform-origin: left;
	margin-left: 50%;
}
.mytable__points-item:nth-child(3) .mytable__points-bar {
	transform-origin left
	border-color $$green;
}