<div role="navigation" class="myheader__section myheader__section--background DEL">
	<nav class="myheader__box">
		<div class="myheader__item myheader__burger">
			<div class="myheader__menu js__navHamburger">
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
			</div>
		</div>
		<div class="myheader__item">
			<h2 class="myheader__title">HEADER</h2>
			<p class="myheader__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestiae, iusto quisquam.</p>
		</div>
	</nav>


</div>
