<section class="mytitle__section mytitle__section--background">
	<div class="mytitle mytitle__box mytitle__box--background">
		<div class="mytitle__group">
			<div class="mytitle__item">
				<div class="mytitle__item-title">Оценка процесса по параметрам</div>
				<ul class="mytitle__ul">
					<li><span class="mytitle__ul-icon"><svg role="picture-svg" class="glyphs__warning"><use xlink:href="#id-glyphs-warning"></use></svg></span>
						Оценка риска по процессу: при некачественном выполнении процесса</li>
					<li><span class="mytitle__ul-icon"><svg role="picture-svg" class="glyphs__notification"><use xlink:href="#id-glyphs-notification"></use></svg></span>
						Текущая оценка эффективности процесса (As Is)</li>
					<li><span class="mytitle__ul-icon"><svg role="picture-svg" class="glyphs__question"><use xlink:href="#id-glyphs-question"></use></svg></span>
						Оценка возможностей при развитии процесса</li>
				</ul>
			</div>
			<div class="mytitle__item">
				<div class="mytitle__item-title">Распределение трудозатрат по ролям в процессе As Is, в часах</div>
				<ul class="mytitle__ul">
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__credit-card"><use xlink:href="#id-glyphs-credit-card"></use></svg></span>Общие трудозатраты по процессу As IS</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Организатор</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Администратор</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Методолог</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Исполнитель</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Маркетинг</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Закупки</li>
				</ul>
			</div>
			<div class="mytitle__item">
				<div class="mytitle__item-title">Скорректированное распределение трудозатрат по ролям в процессе To Be, в часах</div>
				<ul class="mytitle__ul">
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__credit-card"><use xlink:href="#id-glyphs-credit-card"></use></svg></span>Общая коррекция трудозатрат -To Be</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Организатор</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Администратор</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Методолог</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Исполнитель</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Маркетинг</li>
					<li><span class="mytitle__ul-icon">	<svg role="picture-svg" class="glyphs__user"><use xlink:href="#id-glyphs-user"></use></svg></span>Закупки</li>
				</ul>
			</div>
			<div class="mytitle__item">
				<div class="mytitle__item-title">Стратегия</div>
				<ul class="mytitle__ul">
					<li><span class="mytitle__ul-icon"><svg role="picture-svg" class="glyphs__rocket"><use xlink:href="#id-glyphs-rocket"></use></svg></span>
					Выбранная стратегия</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="paint__section paint__section--background">
	<div class="paint paint__box paint__box--background">
		<div class="paint__group">
			<div class="paint__item">
				<svg role="picture-svg" class="glyphs__warning">
					<use xlink:href="#id-glyphs-warning"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__notification">
					<use xlink:href="#id-glyphs-notification"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__question">
					<use xlink:href="#id-glyphs-question"></use>
				</svg>
			</div>
			<div class="paint__item">
				<svg role="picture-svg" class="glyphs__credit-card">
					<use xlink:href="#id-glyphs-credit-card"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
			</div>
			<div class="paint__item">
				<svg role="picture-svg" class="glyphs__credit-card">
					<use xlink:href="#id-glyphs-credit-card"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
				<svg role="picture-svg" class="glyphs__user">
					<use xlink:href="#id-glyphs-user"></use>
				</svg>
			</div>
			<div class="paint__item">
				<svg role="picture-svg" class="glyphs__rocket"><use xlink:href="#id-glyphs-rocket"></use></svg>
			</div>
		</div>

	</div>
</section>


<section class="mytable__section mytable__section--background">
	<div class="mytable__box mytable__box--background js__generatorEnter"></div>
</section>
